/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.body{
	max-width: 880px;
	margin: 0 auto;
}

.navigation{
	width: 900px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

header{
	display:flex;
	justify-content: space-between;
}
header nav{
	display:flex;
	width: 600px;
	justify-content: space-around;
}

.lightbulb{
	margin-right:9%;
}
header nav a{
	color: lightslategrey;
}

.left{
	display:flex;
	justify-content: space-evenly;
	width: 95%;
	margin-top:2%;
}

.left .left-text{
	display:flex;
	justify-content:center;
	width: 48%;
	flex-flow:column;
	align-items: center;
	font-size:70px;
	letter-spacing: 5px;
}

h1{
	font-size: 77px;
	text-align:center;
}

button{
	border: 1px solid black;
	padding:1%;
	width: 32%;
	font-size: 13px;
}


hr{
	border: 1px solid grey;
	display:flex;
}


.middle{
	display: flex;
	justify-content: space-around;
	padding: 3%;
	padding-right: 11%;
}

.Features{
    width: 36.5%;
    text-align: left;
}

.About{
    width: 34%;
    text-align: left;
}

.middle-img{
	width: 90%;
    display: flex;
    padding-left: 8%;
}

.bottom{
	display:flex;
	justify-content:space-evenly;
	width: 89%;
    margin-left: 7%;
	margin-top: 2%;
	margin-bottom: 4%;
}

.Services{
	text-align:left;
	width: 30%;
}

.Product{
	text-align:left;
  	width:30%;
}

.Vision{
	text-align:left;
  	width:30%;
}

.Contact{
 padding:4%;
}

footer{
	text-align: center;
	
}

/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */
/*CSS for the Services Page starts here! */



.services-header-img{
	padding: 0 2% 6%;
    position: relative;
}



/* .Services{
	width: 95.5%;
    padding-bottom: 2%;
    padding-left: 2%;
} */

hr{
	border: 1px solid grey;
	margin: 3%;
}

.Design{
	display: flex;
    padding: 2%;
    width: 102%;
}

.row2{
	display:flex;
	padding: 2%;
    width: 102%;
}

.mobile{
	display:flex;
	padding: 2%;
    width: 102%;
}

.Facts{
	display:flex;
	flex-wrap: wrap;
	padding-left: 5%;
	padding-top:1%;
	width: 47%;
}

ol, ul{
	list-style:circle;
	padding-top: 2%;
    padding-left: 12%;
}

.services-info-img{
	display: flex;
    padding-right: 18%;
	padding-left: 50%;
	padding-top: 4%;
	position: relative;
    bottom: 20%;
}

